*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html{
  font-size: 1vw;
}

body{
  font-family: 'Spartan', sans-serif;
  font-weight: 400;

}

#root{
  position: relative;
  background-color: white;
  overflow: auto;
  max-height: 100vh;
  max-width:100vw;
}

.filter-box{
  position: absolute;
  display: flex;
  justify-content: space-between;
  z-index: 2;
  width: 80%;
  background-color: white;
  box-shadow: 4px 7px 24px -1px rgba(0,0,0,0.3);
  top: 10vh;
  left: 50%;
  transform: translate(-50%,-50%);
  padding: 2%;
  border-radius: 5px;
}

.clear{
  text-decoration: none;
  margin: auto 5%;
}

.term-box{
  display: flex;
  text-align: center;
  padding-right: 2vw;
}
.term{
  margin: auto 10% auto 0;
}

i{
  font-size: 3.4rem;
  color: hsl(180, 29%, 50%);
}

i:hover{
  color: #333;
  cursor: pointer;
}

.term:hover,
.clear:hover{
  text-decoration: underline;
  cursor: pointer;
}

header{
  position: relative;
  background-color:#fbfaff;
  height: 10vh;
  margin-bottom: 5%;
}

.overlay{
  position: sticky;
  height: 100%;
  width: 100%;

}


.post-box{
  position:relative;
  background-color: #fbfaff;
  box-shadow: 4px 7px 24px -1px rgba(0,0,0,0.45);
  margin: 2% auto;
  width: 80%;
  border-radius: 5px;
  border: 1px solid #ccc;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  
}

.featured-border{
  border-left: solid .6rem #758bfd;
}

.post-box .content-frame{
  display: flex;
  padding: 20px;
  width: 100%;
}

.post-box .text-frame {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 2% 0 2% 2%;
  width: 40vw;
}

.post-box .text-frame h4 {
  margin: 0 0 5px 0;
  font-size: 16px;
}

.post-box .text-frame h4 .new-tag {
  background-color: #5CDB95;
  color: #FFF;
  font-size: 12px;
  padding: 2px 5px;
  border-radius: 5px;
  margin-right: 5px;
}


.post-box .text-frame h4 .featured-tag {
  background-color: #FCA311;
  color: #FFF;
  font-size: 12px;
  padding: 2px 5px;
  border-radius: 5px;
  margin-right: 5px;
}

.post-box .text-frame h4 {
  margin: 10px 0;
  font-size: 24px;
}

.post-box .text-frame p {
  margin: 0;
  font-size: 14px;
}

.post-box .text-frame p span {
  margin-right: 5px;
}

.post-box hr {
  margin: 20px 0;
  border: 0;
  border-top: 1px solid #ccc;
}

.post-box .skill-frame {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

.post-box .skill-frame .skill-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.post-box .skill-frame .skills {
  background-color: #F0F0F0;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: #333;
  font-size: 14px;
  padding: 5
}

.text{
  line-height: 2.5;
}

.header-title {
  font-weight: 800;
  font-size: 2rem;
  text-align: center;
  color: #758bfd;
}

.job-title{
  font-weight: 700;
  font-size: 1.2rem;
}

.job-title:hover{
  color: #758bfd;
  cursor: pointer;
}

.company-name{
  color: #758bfd;
  font-size: 1.4rem;
  font-weight: 700;
}

.featured-tag,
.new-tag{
  padding: 6px 6px 4px 6px;
  margin-left: 5px;
  font-size: .6rem;
  background-color: black;
  color: white;
  text-transform: uppercase;
  border-radius: 100px;
}

.new-tag{
  background-color: hsl(180, 29%, 50%);
}

.post-description{
  word-spacing: 4px;
  color: hsl(180, 8%, 52%);
}

.skill-frame{
  margin: 6% 1% 5% 4%;
  width: 50%;
}

ul{
  display: flex;
  list-style: none;
}

.skill-frame ul{
  justify-content: flex-end;
}

a,
li{
  color: hsl(180, 29%, 50%);
  font-weight: 700;
  font-size: 1rem;
  margin-right: 0.8rem;
}

.clear{
  margin-right: 0.8rem;
}


.skills{ 
  padding: 3% 4% 2%;
  border-radius: 8px;
}

.skills:hover{
  background-color:hsl(180, 29%, 50%);
  color: #fff;
  cursor: pointer;
}


.attribution { 
  font-size: 1rem; text-align: center; 
}
.attribution a {
   color: hsl(228, 45%, 44%); 
  }

.not-visible{
  visibility: hidden;
}

